body {
    background-color: white;
    margin: 0px;
    overflow: hidden;
    font-size: 10px;
}

#menu{
    border-radius: 0px;
    height: 100%;
    width: 200px;
    float: left;
}

div.maincontent{
    width: 578px;
    height: 100%;
    float: right;
    background-color: #eee;
    padding: 10px;
    display: none;
}

table{
    font-size: 10px;
}

#listenersTable{
    margin: 10px 0 0 0;
}

div.scrollable{
    max-height: 200px;
    overflow-x: auto;
}

#repository_logs_list{
    list-style-type: none;
}

#repository_logs_list li{
    padding: 5px;
}
