body {
    background-color: white;
    margin: 0px;
    overflow: hidden;
}

#menu{
    border-radius: 0px;
    height: 100%;
    width: 200px;
    float: left;
}

#maincontent{
    width: 578px;
    height: 100%;
    float: right;
    background-color: #eee;
    padding: 10px;
}
